*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
.idea/

logs/
internal-nlog-*.txt

.DS_Store
Thumbs.db

appsettings.*.local.json
*.pfx
.env
